<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <title> Baby Maddock's Online Baby Shower </title>
  <link href='https://fonts.googleapis.com/css?family=Ribeye|Bubblegum+Sans' rel='stylesheet' type='text/css'/>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{% static 'mini_teddy_icon.jpg' %}" />
  <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />
  <link rel="stylesheet" href="{% static 'index.css' %}"/>
</head>
<body>
  <div class="container">
      <div class="header ">
        <nav>
          <ul class="nav pull-right">
            {% if request.user.is_staff %}
            <li.disable:hover role="presentation" >
              <a href="{% url 'admin:index' %}" class="text-muted" title="Logout">Admin
                <i class="fa fa-pied-piper-alt fa-2x"></i>
              </a>
            </li.disable:hover>
            {% endif %}
            {% if request.user.is_authenticated %}
          <li.disable:hover role="presentation" >
            <a href="{% url 'logout' %}?next={% url 'index' %}" class="text-muted" title="Logout">Hello {{ request.user.first_name }}!
              <i class="fa fa-sign-out fa-2x"></i>
            </a>
          </li.disable:hover>
            {% else %}
            {% if request.path != "/accounts/login/" %}
            <li.disable:hover role="presentation" ><!-- login_with_facebook.html START -->
              <a href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}">
                <div class="btn btn-primary btn-lg" >
                  <i class="fa  fa-facebook"></i>
                  &nbsp;
                  login with facebook
                </div>
              </a>
              <!-- login_with_facebook.html END --></li>
            {% endif %}
            {% endif %}
          </ul>
        </nav>
        {% if request.path != "/accounts/login/" %}
        <div class="text-muted" title="Home">
          <a href="{% url 'index' %}">
            <i class="fa fa-home fa-2x"></i>
            <div class="sub_title purple">Baby Maddock's </div>
            </a>
          </div>
            <div class="sub">Online Baby Shower </div>
            {% endif %}

      </div>

  {% block content %}
  {% endblock %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74383596-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
