<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class="icon_large">
      <i class="fa fa-envelope-o fa-4x"></i>
    </div>
    <div class="title purple hidden-xs">Contact</div>

      <div class="welcome">
        <div class="col-md-offset-3 col-md-6"> Contact the parents to be, or if you just have a question. </div>
      </div>

      <br></br>

      <div class="row">

        <div class="col-md-offset-3 col-md-3 col-xs-6" style="text-align: right">
        <div class="games">
          <a href="mailto:krystalmaddock@gmail.com">
            <div class="game" id="lites">
              <i class="fa fa-heart fa-5x"></i>
              <div class="game_title">Email Krystal</div>
            </div>
          </a>
        </div>
      </div>



        <div class=" col-md-3 col-xs-6" style="text-align: right">
        <div class="games">
          <a href="mailto:leighmaddock@gmail.com">
            <div class="game" id="leigh">
              <i class="fa fa-star fa-5x"></i>
              <div class="game_title">Email Leigh</div>
            </div>
          </a>
        </div>
      </div>
    </div>
<br>

      <div class="row">
        <div class="col-md-offset-3 col-md-3 col-xs-6" style="text-align: right">
        <div class="games ">
          <a href="mailto:kimberleynedic@gmail.com">
            <div class="game" id="states">
              <i class="fa fa-globe fa-5x"></i>
              <div class="game_title">USA contact other than parents to be</div>
            </div>
          </a>
        </div>
        </div>


          <div class="col-md-3 col-xs-6" style="text-align: right">
        <div class="games ">
          <a href="mailto:kimberleynedic@gmail.com">
            <div class="game" id="problems">
              <i class="fa fa-pied-piper fa-5x"></i>
              <div class="game_title">Problems with the site</div>
            </div>
          </a>

        </div>
      </div>
    </div>




{% endblock %}
