<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class="icon_large">
      <i class="fa fa-envelope-o fa-5x"></i>
    </div>
    <div class="title">Contact</div>

      <div class="welcome">
        <div> If you would like to contact the parents to be directly</div>
        <div> or if have any questions about the site</div>
        <div> or any other questions: </div>
      </div>

      <br></br>
      <div class="row1">
        <div class="games">
          <a href="mailto:krystalmaddock@gmail.com">
            <div class="game" id="lites">
              <i class="fa fa-heart fa-5x"></i>
              <div class="game_title">Email Krystal</div>
            </div>
          </a>
        </div>
        <div class="games">
          <a href="mailto:leighmaddock@gmail.com">
            <div class="game" id="leigh">
              <i class="fa fa-star fa-5x"></i>
              <div class="game_title">Email Leigh</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row2">
        <div class="games">
          <a href="mailto:kimberleynedic@gmail.com">
            <div class="game" id="states">
              <i class="fa fa-globe fa-5x"></i>
              <div class="game_title">USA contact other than parents to be</div>
            </div>
          </a>
        </div>
        <div class="games">
          <a href="mailto:kimberleynedic@gmail.com">
            <div class="game" id="problems">
              <i class="fa fa-pied-piper fa-5x"></i>
              <div class="game_title">Problems with the site</div>
            </div>
          </a>
        </div>
      </div>





{% endblock %}
