<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
  <div class="icon_large">
    <i class="fa fa-clock-o fa-5x"></i>
  </div>
  <div class="title green">Guess the Time Baby Maddock will be Born</div>
  <div class="welcome">
    <div>Use the arrows to guess what time </div>
    <div>Baby Maddock with come into the world.</div>
    <div> </div>
    <br> </br>
  <div class="white_box_time"
      <div class="col-md-offset-2 col-md-8">
        <div style="overflow:hidden;">
        <div class="form-group">
            <div class="row">

                    <div id="datetimepicker12"></div>

            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker12').datetimepicker({
                    inline: true,
                    sideBySide: true,
                    format: 'LT'
                });$('#date_submit').click(function (data){
                  console.log(data)
                })
            });
            function date_math(){
              d=$('#datetimepicker12').data().DateTimePicker.date()._d;
              $('#id_guess').val(d);
              return true;
            }
        </script>
      <form action="{% url 'games_time_guess' %}" method="post" onSubmit='return date_math()'>
        <input  id="id_guess" name="guess" value="{{ form.guess.value }}" type="hidden">



          {% csrf_token %}
          <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden">
        <input type=submit id="date_submit" class="btn btn-primary btn-lg" value="Send Your Guess">
      </form>
  </div>
  </div>
</div>
{% endblock %}
