<!DOCTYPE html>
{% extends "game_template.html" %}
{% block game_content %}

    <form action="{% url 'games_weight_guess' %}" method="post">
    <input class="input-lg metric" id="kg" name="guess" value="{{ form.guess.value }}" maxlength="4" type="number" step="0.01" > <strong>kg</strong>

<br></br>


    <input class="imperial input-lg" id="lb" value="0" maxlength=2 type="number" step="1"> <strong>lb</strong>
    <input class="imperial input-lg" id="oz" value="0" maxlength=2 type="number" step="1"> oz

      {% csrf_token %}
      <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden">
      <br></br>
      <input type=submit class="btn btn-primary btn-lg" value="Send Your Guess"></form>
    <script type="text/javascript">

    function weight(){
      //console.log($('#kg').val());
      gm=($('#kg').val())*1000;
      //gm+=parseInt($('#gm').val());
      oz=gm/28.34;

      o = parseInt(oz % 16);
      lb = parseInt(oz / 16);

      console.log(
        'grams = ' + gm + ' oz=' + oz
        + ' lb=' + lb + ' o=' + o
      );
      $('#lb').val(lb);
      $('#oz').val(o);

    }
    weight();


        $(function () {
          $('.metric').on('input', function (data){
            //console.log($('#kg').val());
            gm=($('#kg').val())*1000;
            //gm+=parseInt($('#gm').val());
            oz=gm/28.34;

            o = parseInt(oz % 16);
            lb = parseInt(oz / 16);

            console.log(
              'grams = ' + gm + ' oz=' + oz
              + ' lb=' + lb + ' o=' + o
            );
            $('#lb').val(lb);
            $('#oz').val(o);

          });
          $('.imperial').on('input', function (data){
            //console.log($('#kg').val());
            oz=parseInt($('#lb').val())*16;
            oz+=parseInt($('#oz').val());
            gm=oz*28.34;

            //g = parseInt(gm % 1000);
            kg = (gm / 1000);
            kg=Math.round( kg * 100) / 100

            //$('#gm').val(g);
            $('#kg').val(kg);

            console.log(
              'grams = ' + gm + ' oz=' + oz
              + ' kg=' + kg
            );
          });
        });
    </script>
  </div>
{% endblock %}
