<!DOCTYPE html>
{% extends "game_template.html" %}
{% block game_content %}
  

  <div class="row">

    <div class="col-md-offset-3 col-md-3 col-xs-6" style="text-align: right">
      <form action="{% url 'games_gender_guess' %}" name="boy" method="post">
        <a href="javascript:document.boy.submit()">
          <div class="guessbox">


            <i class="fa fa-mars fa-5x" id="boy"></i>
            <div class="game_title">A baby Boy</div>

            {% csrf_token %}
            <input id="id_guess" maxlength="6" name="guess" value="boy" type="hidden">
            <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden">


        </div>
      </a>
    </form>
    </div>
    <div class="col-md-3 col-xs-6" style="text-align: left">
      <form action="{% url 'games_gender_guess' %}" name="girl" method="post">
        <a href="javascript:document.girl.submit()">
          <div class="guessbox">


            <i class="fa fa-venus fa-5x" id="girl"></i>
            <div class="game_title">A baby Girl</div>

            {% csrf_token %}
            <input id="id_guess" maxlength="6" name="guess" value="girl" type="hidden">
            <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden">


        </div>
      </a>
    </form>
    </div>

  </div>



{% endblock %}
