<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
  <div class="icon_large">
    <i class="fa fa-venus fa-5x"></i>
    <i class="fa fa-mars fa-5x"></i>
  </div>
  <div class="title green">Guess the Gender</div>
  <div class="welcome">
    <br></br>
    <div> Click on the gender you think Bubs will be, </div>
    <div> once you click the gender, your guess will be sent. </div>
  </div>
  <br>

  <div class="row">

    <div class="col-md-offset-3 col-md-3" style="text-align: right">
      <form action="{% url 'games_gender_guess' %}" name="boy" method="post">
        <a href="javascript:document.boy.submit()">
          <div class="guessbox">


            <i class="fa fa-mars fa-5x" id="boy"></i>
            <div class="game_title">A baby Boy</div>

            {% csrf_token %}
            <input id="id_guess" maxlength="6" name="guess" value="boy" type="hidden">
            <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden">


        </div>
      </a>
    </form>
    </div>
    <div class="col-md-3" style="text-align: left">
      <form action="{% url 'games_gender_guess' %}" name="girl" method="post">
        <a href="javascript:document.girl.submit()">
          <div class="guessbox">


            <i class="fa fa-venus fa-5x" id="girl"></i>
            <div class="game_title">A baby Girl</div>

            {% csrf_token %}
            <input id="id_guess" maxlength="6" name="guess" value="girl" type="hidden">
            <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden">


        </div>
      </a>
    </form>
    </div>

  </div>



{% endblock %}
