<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="icon_large">
  <i class="fa fa-gift fa-5x"></i>
</div>
<div class="title blue hidden-xs">Gift Registry</div>
<div class="welcome">
  <div class="col-md-offset-3 col-md-6"> If you would like to buy a gift for Baby Maddock.
  Here is a registry the parents to be have created
  with things they will need for their new bundle of joy.</div>
  
  </div>
  <div class="col-md-offset-3 col-md-3 col-xs-6">
    <div class="guessbox">
    <a href="http://www.amazon.com/ref=nav_logo" target="_blank">
      <div  id="amazon">
        <i class="fa fa-amazon fa-5x"></i>
        <div class="game_title">Amazon Gift Registry</div>
      </div>
    </a>
  </div>
  </div>
<div class="row">
  <div class="col-md-3 col-xs-6">
    <div class="guessbox">
    <a href="http://www.ikea.com/" target="_blank">
      <div class= id="ikea">
        <i class="fa fa-shopping-bag fa-5x"></i>
        <div class="game_title">Ikea Gift Registry</div>
      </div>
    </a>
  </div>
</div>
</div>
  <br></br>
  <div class="other_gifts">
    <div> Other Gift Ideas </div>
  </div>
  <div class="other_gift_list">
      <div> Bibs </div>
      <div> Clothes </div>
</div>



{% endblock %}
