<!DOCTYPE html>
{% extends "game_template.html" %}
{% block game_content %}
<div class="row">
  <div class="col-md-offset-3 col-md-3 col-xs-6">
    <div class="guessbox">
    <a href="https://www.amazon.com/Amazon-1_US_Email-Gift-Card-Email/dp/B004LLIKVU/ref=sr_1_1?s=gift-cards&ie=UTF8&qid=1458096784&sr=1-1&keywords=gift+cards" target="_blank">
      <div  id="amazon">
        <i class="fa fa-amazon fa-5x"></i>
        <div class="game_title">Amazon Gift Card</div>
      </div>
    </a>
  </div>
  </div>

  <div class="col-md-3 col-xs-6">
    <div class="guessbox">
      <a href="https://ikea-usa.cashstar.com/" target="_blank">
        <div class= id="ikea">
          <i class="fa fa-shopping-bag fa-5x"></i>
          <div class="game_title">Ikea Gift Card</div>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-offset-3 col-md-3 col-xs-6">
    <div class="guessbox">
    <a href="https://www-secure.target.com/c/giftcards/-/N-5xsxu#?lnk=snav_rd_giftcard" target="_blank">
      <div  id="target">
        <i class="fa fa-dot-circle-o fa-5x"></i>
        <div class="game_title">Target Gift Card</div>
      </div>
    </a>
  </div>
  </div>

  <div class="col-md-3 col-xs-6">
    <div class="guessbox">
      <a href="http://www.toysrus.com/giftCertificates/index.jsp" target="_blank">
        <div class= id="babies_r_us">
          <i class="fa fa-shopping-basket fa-5x"></i>
          <div class="game_title">Babies 'R' Us Gift Card</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="col-md-offset-3 col-md-6" class="other_gift_list">
    <div> Please remember all the above sites are in US Dollars.</div>
    <div> All except Ikea allow you to send the parents to be an electronic voucher, the best email address for electronic vouchers is:</div>
    <div> krystalmaddock@gmail.com </div>
    <div> If you would like to post a voucher to them, please feel free to email anyone on the contacts page and we can provide the postage address.</div>
</div>



{% endblock %}
