<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="icon_large">
  <i class="fa fa-gift fa-5x"></i>
</div>
<div class="title">Gift Registry</div>
<div class="welcome">
  <div> If you would like to buy a gift for Baby Maddock</div>
  <div> Here is a registry the parents to be have created</div>
  <div> with things they will need for their new bundle of joy.</div>
  <br></br>
  <div class="games">
    <a href="http://www.amazon.com/ref=nav_logo" target="_blank">
      <div class="game" id="amazon">
        <i class="fa fa-amazon fa-5x"></i>
        <div class="game_title">Amazon Gift Registry</div>
      </div>
    </a>
  </div>

  <div class="games">
    <a href="http://www.ikea.com/" target="_blank">
      <div class="game" id="ikea">
        <i class="fa fa-shopping-bag fa-5x"></i>
        <div class="game_title">Ikea Gift Registry</div>
      </div>
    </a>
  </div>
  <br></br>
  <div class="other_gifts">
    <div> Other Gift Ideas </div>
  </div>
      <div> Bibs </div>
      <div> Clothes </div>



</div>
{% endblock %}
