<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}




{% if messages %}

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Thank you!</strong> {{ message }}
</div>
  {% endfor %}

{% endif %}





  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
    <div class="games {% if user_weight_guess %}already_Guess{% endif %}">
      <a href="{% url 'games_weight' %}">
        <div  id="game_weight">
          <i class="fa fa-balance-scale fa-5x"></i>
          <div class="game_title">Guess Baby's weight</div>

          <div class="guess blue">{% if user_weight_guess %} Guess: {{ user_weight_guess.guess}}  {% endif %}&nbsp;</div>

        </div>
      </a>
    </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
    <div class="games {% if user_gender_guess %}already_Guess{% endif %}">
      <a href="{% url 'games_gender' %}">
        <div  id="game_gender">
          <i class="fa fa-venus fa-5x"></i>
          <i class="fa fa-mars fa-5x"></i>
          <div class="game_title">Guess Baby's gender</div>

          <div class="guess purple">{% if user_gender_guess %}Guess: {{ user_gender_guess.guess }}{% endif %}&nbsp;</div>

        </div>
      </a>
    </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
    <div class="games {% if user_date_guess %}already_Guess{% endif %}">
      <a href="{% url 'games_date' %}">
        <div  id="game_date">
          <i class="fa fa-calendar fa-5x"></i>
          <div class="game_title">Guess Baby's Birth Date</div>

          <div class="guess green">{% if user_date_guess %}Guess: {{ user_date_guess.guess }}{% endif %}&nbsp;</div>

        </div>
      </a>
    </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
    <div class="games {% if user_gender_guess %}already_Guess{% endif %}">
      <a href="{% url 'games_time' %}">
        <div class="game" id="game_time">
          <i class="fa fa-clock-o fa-5x"></i>
          <div class="game_title">Guess Baby's Birth Time</div>

          <div class="guess blue">{% if user_time_guess %}Guess: {{ user_time_guess.guess }}{% endif %}&nbsp;</div>

        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
    <div class="games">
      <a href="{% url 'advice' %}">
        <div  id="game_advice">
          <i class="fa fa-comment-o fa-5x"></i>
          <div class="game_title">Advice for the Parents to be</div>
            <div class="guess blue">&nbsp;</div>
        </div>
      </a>
    </div>

  </div>
<div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
    <div class="games">
      <a href="{% url 'message' %}">
        <div  id="game_baby_message">
          <i class="fa fa-child fa-5x"></i>
          <div class="game_title">Leave a message for Baby Maddock</div>
            <div class="guess blue"> &nbsp;</div>
        </div>
      </a>
    </div>
  </div>

<!-- ------------------ -->
<div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
<div class="games {% if user_gender_guess %}already_Guess{% endif %}">
  <a href="{% url 'games_time' %}">
    <div class="game" id="game_time">
      <i class="fa fa-smile-o fa-5x"></i>
      <div class="game_title">Guess Baby's Hair Colour</div>

      <div class="guess blue">{% if user_time_guess %}Guess: {{ user_time_guess.guess }}{% endif %}&nbsp;</div>

    </div>
  </a>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
<div class="games">
  <a href="{% url 'games_eye' %}">
    <div  id="game_eye">
      <i class="fa fa-eye fa-5x"></i>
      <div class="game_title">Guess Baby's Eye Colour</div>
        <div class="guess purple">{% if user_eye_guess %}Guess: {{ user_eye_guess.guess }}{% endif %}&nbsp;</div>
    </div>
  </a>
</div>

</div>
<div class="col-md-4 col-sm-4 col-xs-6 col-centered col-padding">
<div class="games">
  <a href="{% url 'message' %}">
    <div  id="game_baby_message">
      <i class="fa fa-smile-o fa-5x"></i>
      <div class="game_title">Leave a message for Baby Maddock</div>
        <div class="guess blue"> &nbsp;</div>
    </div>
  </a>
</div>
</div>
<!---------------------->

<div class="col-md-4 col-sm-4 col-xs-12 col-centered col-padding">
    <div class="games">
      <a href="{% url 'blog' %}">
        <div id="game_blog">
          <i class="fa fa-heart-o fa-5x"></i>
          <div class="game_title">Krystal and Leigh's Baby Blog</div>
          <div class="guess blue">&nbsp;</div>
        </div>
      </a>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 col-centered col-padding">
    <div class="games">
      <a href="{% url 'gift' %}">
        <div  id="game_gift">
          <i class="fa fa-gift fa-5x"></i>
          <div class="game_title">Gift Registry</div>
          <div class="guess blue">&nbsp;</div>
        </div>
      </a>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 col-centered col-padding">
    <div class="games">
      <a href="{% url 'contact' %}">
        <div  id="game_contact">
          <i class="fa fa-envelope-o fa-5x"></i>
          <div class="game_title">Contact</div>
          <div class="guess blue">&nbsp;</div>
        </div>
      </a>
    </div>
  </div>


{% endblock %}
