<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="icon_large">
    <i class="fa fa-smile-o fa-5x"></i>
  </div>
  <div class="title purple">Leave a message for Baby Maddock</div>
  <div class="welcome">

    <div> It could be a message of love, a poem, just</div>
    <div> something sweet that Leigh and Krystal can keep and </div>
    <div> read to Bubs as they grow up. </div>
    <br></br>
    <form action="{% url 'message_new' %}" method=post>
    {% csrf_token %}
    <label for="id_text"></label> <textarea cols="40" id="id_text" name="text" rows="10">
    </textarea>
    <p><label for="id_user"></label>
      <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden" />
    <input type=submit class="btn btn-primary btn-lg" value="Send Your Message"></form>
    <br>
    {% for message in message_list %}
    <strong>{{ message.user.first_name }} {{ message.user.last_name }}:</strong> {{ message.text }} <br></br>
    {% endfor %}
  </div>
{% endblock %}
