<!DOCTYPE html>
{% extends "game_template.html" %}
{% block game_content %}

{% if not message %}
    <form action="{% url 'message_new' %}" method=post>
    {% csrf_token %}
    <label for="id_text"></label> {{ form.text }} {{ form.pk }}
    <p><label for="id_user"></label>
      <input id="id_user" maxlength="50" name="user" value="{{ request.user.id }}" type="hidden" />
    <input type=submit class="btn btn-primary btn-lg" value="Send Your Message"></form>
    <br>



  <div class="word-wrap col-md-offset-3 col-md-6">
  {% for message in message_list %}
  <a href="{% url 'message_single' message.id %}">
  <strong>{{ message.user.first_name }} {{ message.user.last_name|slice:":1" }}:</strong>
  <div class="visible-xs">
  {{ message.text|slice:":150" }}{% if message.text|length > 150 %}...{% endif %}
</div>
<div class="hidden-xs">
  {{ message.text|slice:":500" }}{% if message.text|length > 500 %}...{% endif %}
  <br>
</div>
  <br>
</a>
  {% endfor %}
  {% else %}
  <div class="col-md-offset-3 col-md-6"> {{ message }}
    <br>
    <strong>{{ message.user.first_name }} {{ message.user.last_name }}</strong>
    <br>
    <a href="{% url 'message' %}" class="btn btn-primary btn-lg">Back to Message</a>

    </div>
  {% endif %}
{% endblock %}
