/* USE THIS FILE */


@font-face {
  font-family: 'Smoothie shoppe';
  src: url("/static/font/Smoothie Shoppe.ttf");
}
@font-face {
  font-family: 'helvetica';
  src: url("/static/font/helvetica.ttf");
}
@font-face{
  font-family: 'kgalittleswag';
  src: url("/static/font/KGALittleSwag.ttf");
}

p{
  margin:0;
}
body{
  background-color:#ffffcc;
}
.header{
  font-family: sans-serif;
  font-size: 1em;
}

.login_sub{
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}
.alert-success{
  height:50%;
  width: 80%;
  text-align: center;
  margin: auto;
  background-color:#84e184;
  opacity: 0.6;
  color:black;
}
.alert-danger{
  height:50%;
  width: 80%;
  text-align: center;
  margin: auto;


  color:red;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover, a:visited, a:link, a:active{
  text-decoration: none;

}
.white_box{
  border-radius: 10px;
  background-color: white;
  border: solid 3px;
  border-color:#999999;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: auto;


}
.btn-primary{
  background-color:#6698ff;
}
.word-wrap{
  word-wrap: break-word;
}


.white_box_time{
  border-radius: 10px;
  background-color: white;
  border: solid 3px;
  border-color:#999999;
  text-align: center;
  padding: 20px;
  width: 50%;
  min-width: 300px;
  margin:auto;

}


#boy{
  color:#6698ff;
}

#blue{
  color:#1a53ff;
}

#brown{
  color:#804000;
}
#green{
  color:#009900;
}
#ginger{
  color:#ff6600;
}
#blonde{
  color:#ffd633;
}
#black{
  color:black;
}
.other_gifts{
  font-family: smoothie shoppe;
  font-size: 2em;
  color:#b266ff;
  text-align: center;
}
.other_gift_list{
  font-family: sans-serif;
  font-size: 1em;
  color:#737373;
  text-align: center;
}

.welcome, .intro{
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  color:#737373;


}

.title{
  font-family: smoothie shoppe;
  font-size: 4em;
  text-align: center;
  margin-top: 10px;
  letter-spacing: -3px;
}

.purple{
  color: #b266ff;
}
.blue{
  color:#6698ff;
}
.green{
  color:#84e184;
}
input{
  border-radius: 10px;
  border: solid 2px;
}
textarea{
  border-radius: 10px;
  border: solid 2px;
}
.title_banner{
  font-family: sans-serif;
  font-size: .75em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.sub_title{
  font-family: smoothie shoppe;
  font-size:4em;
  text-align: center;
  letter-spacing: -3px;

}

.sub{
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #999999;
}

.games{
  border-radius: 10px;
  background-color: white;
  height: 200px;
  width: 95%;

  min-width: 150px;
  text-align: center;
  display: inline-block;
  border: solid 3px;
  border-color:#999999;
  margin:0;


}

.col-centered{
  text-align: center;
}
.col-padding{
  padding-top:5px;
  padding-bottom:10px;
  margin:0;
}
.games .fa{
  margin-top: 30px;
}
.gender .fa{
  margin-top: 40px;
}
.game_title{
  margin-top:30px;
  font-family: sans-serif;
  font-size: 1em;
  color: #737373;
}


.fa-balance-scale{
  color:#6698ff;
}
.fa-venus{
  color:#b266ff;
}
.fa-mars{
  color: #b266ff;
}
.fa-calendar{
  color:#84e184;
}
.fa-clock-o{
  color:#6698ff;
}
.fa-comment-o{
  color:#b266ff;
}
.fa-child{
  color:#84e184;
}
.fa-smile-o{
  color:#84e184;
}
.fa-heart-o{
  color:#6698ff;
}
.fa-gift{
  color:#b266ff;
}
.fa-envelope-o{
  color:#84e184;
}

.fa-heart{
  color:#b266ff;
}

.fa-eye{
  color:#b266ff;
}

.fa-star{
  color:#6698ff;
}

.fa-globe{
  color:#6698ff;
}

.fa-pied-piper{
  color:#84e184;
}
.fa-amazon{
  color:#84e184;
}
.fa-shopping-bag{
  color:#6698ff;
}

.fa-users{
  color:#6698ff;
}

.fa-shopping-basket{
  color:#84e184;
}
.fa-dot-circle-o{
  color: #b266ff;
}

.icon_large{
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}
.contact_details{
  font-size: 1.5em;
  color:#b266ff;
  font-family: noteworthy;
  text-align: center;
  margin-top: 10px;
}
.guess{
  font-family: sans-serif;
  font-size: 1em;
}

.guessbox {
  padding-top: 25px;
  border-radius: 10px;
  background-color: white;
  height: 200px;
  width:100%;
  min-width: 130px;
  text-align: center;
  display: inline-block;
  border: solid 3px;
  border-color:#999999;

}

.imperial{
  width:60px;
  text-align: right;
}
.metric{
  width:80px;
  text-align: right;
}
@media (max-width:780px){
  .sub_title, .sub{
    display:inline-block center;
}
@media (max-width:780px){
  .sub_title{
    font-size: 2.5em;
}
@media (max-width:780px){
  .sub{
    font-size: 1em;
}

}
.fa-home, .text-muted{
  margin-top: 0;

}
.fa-home{
  font-size: 2em;
}

.header{

  padding-top:10px;

}
/*.already_guessed{
  background-color: #f2f2f2;
}*/
