html{
  background-color:#ffffcc;
}
.login_name{
  text-align: right;
  font-family: noteworthy;
}
a{
  text-decoration: none;
  color: inherit;
}
#boy{
  color:blue;
}
.gender{
  height:200px;
  width: 200px;
  text-align: center;
  float: inherit;

}
.welcome, .intro{
  text-align: center;
  font-family: noteworthy;
  font-size: 1.2em;
  color:#737373;
  float: center;
}
.game_title{
  text-align: center;
  font-family: noteworthy;
  font-size: 1em;
  color:#737373;
}
.title{
  font-family: smoothie shoppe;
  font-size: 4em;
  text-align: center;
  color: #b266ff;
  margin-top: 10px;
  letter-spacing: -3px;
}
.title_banner{
  font-family: kgalittleswag;
  color: #b266ff;
  font-size: 2em;
}
.games{
  border-radius: 2px;
  background-color: white;
  height: 200px;
  width: 250px;
  text-align: center;
  display: inline-block;
  border: solid 3px;
  border-color:#999999;
  border-radius: 10px;
  margin: 5px;
}
.fa{
  margin-top: 40px;
}
.game_title{
  margin-top:30px;
  font-family: noteworthy;
  font-size: 1em;
  color: #999999;
}
.row1, .row2, .row3{
  text-align: center;
}
.fa-balance-scale{
  color:#6698ff;
}
.fa-venus{
  color:#b266ff;
}
.fa-mars{
  color: #b266ff;
}
.fa-calendar{
  color:#84e184;
}
.fa-clock-o{
  color:#6698ff;
}
.fa-comment-o{
  color:#b266ff;
}
.fa-smile-o{
  color:#84e184;
}
.fa-heart-o{
  color:#6698ff;
}
.fa-gift{
  color:#b266ff;
}
.fa-envelope-o{
  color:#84e184;
}
.icon_large{
  font-size: 2em;
  text-align: center;
}
.contact_details{
  font-size: 1.5em;
  color:#b266ff;
  font-family: noteworthy;
  text-align: center;
  margin-top: 10px;
}
