<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<br>

<div class="welcome">
  <div>Welcome to</div>
</div>
<div class="title purple">
  <div> Baby Maddock's</div>
  <div class="title_banner purple">(online_baby_shower)</div>
</div>
<div class="intro">
  <div> Celebrating bubs to be</div>
  <div> with an online baby shower!</div>
</div>
<div class="login_sub">
  <a href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}">


    &nbsp;
    <span class="green">Please log in to continue</span>
  </div>
</a>
</div>



{% endblock %}
